<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/stylesheet.css">
    <title>BucketList</title>
</head>
<body>
    <header>
        <h1>BUCKET LIST</h1>
        <nav>
            <span>add</span>
            <span>notification</span>
            <span>settings</span>
        </nav>
    </header>
    
    <main>
        <p>BUCKET LISTは、あなたが人生でやっておきたいことをリストにできるサービスです。</p>
        <p>あなただけの棺桶リストを作ってみませんか?</p>
        <button type="buttun" text="リストを作ってみる">リスト</button>
    </main>

    <footer>
        <p><small>© Copyright 2020 actlam</small></p>
    </footer>
</body>
</html>